{% load i18n %}
<div class="sidebar-wrapper">
    <ul class="sidebar-menu">
        <li>
            <a href="{% url 'properties:list' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
                {% trans "Todas as Propriedades" %}
            </a>
        </li>
        <li>
            <a href="{% url 'properties:dashboard' property.pk %}" class="{% if active_item == 'dashboard' %}active{% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="7" height="9" x="3" y="3" rx="1"/><rect width="7" height="5" x="14" y="3" rx="1"/><rect width="7" height="9" x="14" y="12" rx="1"/><rect width="7" height="5" x="3" y="16" rx="1"/></svg>
                {% trans "Painel da propriedade" %}
            </a>
        </li>
        <li>
            <a href="{% url 'reservations:list' property.pk %}" class="{% if active_item == 'reservations' %}active{% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="18" height="18" x="3" y="4" rx="2" ry="2"/><line x1="16" x2="16" y1="2" y2="6"/><line x1="8" x2="8" y1="2" y2="6"/><line x1="3" x2="21" y1="10" y2="10"/></svg>
                {% trans "Reservas" %}
            </a>
        </li>
        <li>
            <a href="{% url 'properties:settings' property.pk %}" class="{% if active_item == 'settings' %}active{% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2v20"/><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"/></svg>
                {% trans "Custos e Resultados" %}
            </a>
        </li>
        <li>
            <a href="{% url 'properties:reports' property.pk %}" class="{% if active_item == 'reports' %}active{% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" x2="12" y1="20" y2="10"/><line x1="18" x2="18" y1="20" y2="4"/><line x1="6" x2="6" y1="20" y2="16"/></svg>
                {% trans "Relatórios" %}
            </a>
        </li>
    </ul>
</div>
